body{font-family: 'Roboto Mono', monospace;
    
}

.rakib
{color: orange;
}
.top-h3{ color: navy;
}
.hire-me{ border: 10px;
    border-color: black;
    margin: 10px;
    padding: 7px ;
    color: #FF9671;
    background-color: orange;
border-radius: 5px;
}